.wrapper{
    display: flex;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: white;
}

.tittle{
    font-size: 32px;
}

.slide{
  display: flex;
  width: 300px;
}
.card {
    width: 100%;
    height: 300px; /* Размер по вашему выбору */
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .title {
    position: absolute;
    bottom: 10px; /* Расположение текста снизу (можно изменить по вашему усмотрению) */
    left: 10px; /* Расположение текста слева (можно изменить по вашему усмотрению) */
    color: white; /* Цвет текста */
    font-size: 20px; /* Размер шрифта */
  }
  



