.wrapper{
    display: flex;
    width: 100%;
    margin: 10px 0;
    position: relative;
    flex-wrap: wrap;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: white;
}

.tittle{
    font-size: 32px;
    display: flex;
}

.sort{
  margin-top: 25px;
  display: flex;
  gap: 20px;
  width: 100%;
}


.swiper{
  margin-top: 20px;
  width: 100%;
}

.card {
    width: 100%;
    border-radius: 10px;
    height: 40ch; 
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    &:hover{
      transition: all 0.3s;
      scale: (1.1);
    }
    &:not(:hover){
      scale: (1.0);
      transition: all 0.3s;
    }
  }
  
  .title {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: white; 
    font-size: 20px; 
  }
